<!DOCTYPE html>
<html lang="en">
   <% include partials/head %>
  <body class=""> 
  <% include partials/header %>

    <section style="background: #fafafa;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="breadcrumbs">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Dashboard</li>
              </ul>
            </div>
			<% if (user.role == 1){%>
            	<h1 class="heading"> Employee dashboard</h1>
			<% } else if (user.role == 2){ %>
				<h1 class="heading">Employer dashboard</h1>
			<%} else if (user.role == 3){%>
				<h1 class="heading">Admin dashboard</h1>
			<% }%>
           
           
          </div>
        </div>
      </div>
    </section>
    
    <section>
        
      <div class="container">
        <% for(var i=0; i < listings.length; i++) { %>
		<div class="job-listing">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-10">
                  <h4 class="job__title"><a href=<%= '/review?id='+ listings[i].id %> > <%= listings[i].name %></a></h4>
                  <p class="job__company">
                     
                    <%= listings[i].owner.name %>                  
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
              <p><%= listings[i].description %></p>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
              <p><%= listings[i].deadline %></p>
            </div>
          </div>
        </div>
        <% } %>
		
   
       
      </div>
    </section>
<% include partials/footer %>
    
  </body>
</html>


